*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x: hidden;
}

.navbar{
    display: flex;
    padding: 2rem 9rem;
}

.navbar img{
    width: 3rem;

}

.links{
    flex: 1;
}

.links ul{
    margin: 5rem;
    display: inline;
}

.links ul li{
    display: inline-block;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
}

.links ul a{
    color: #fff;
    font-size: 13px;
    text-decoration: none;
}

.links ul li::after{
    content: '';
    width: 0;
    background: lightpink;
    height: 2px;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.links ul li:hover:after{
    width: 100%;
}

.btn{
    padding: 0.8rem 1.6rem;
    background: lightpink;
    border: 0;
    font-weight: bold;
    border-radius: 0.3rem;
    cursor: pointer;
}

.links .btn{
    float: right;
}

.cakes{
    margin: 7.5rem 10rem;
    color: #fff;
}

.cakes h1{
    font-size: 64px;
    margin-bottom: 1rem;
}

.cakes span{
    color: lightpink;
}

.side-bar{
    background: #fff;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.search-icon{
    height: 60%;
    width: 80px;
}

.search-icon .fa{
    font-size: 30px;
    margin: 40px 26px;
    display: block;
    cursor: pointer;
    color: #000;
}

.social-icons{
    height: 35%;
    width: 80px;
    background: lightpink;
    text-align: center;
    padding-top: 27%;
    bottom: 0;
    position: absolute;
}

.social-icons .fa{
    margin: 15px 20px;
    align-items: center;
    display: block;
    cursor: pointer;
    padding: 5px;
    width: 30px;
    font-size: 27px;
}

.notification{
    display: flex;
    position: absolute;
    width: 20rem;
    right: 0;
    bottom: 0;
    background: lightpink;
    align-items: center;
}

.content{
    flex-basis: 100%;
    padding: 1rem;
}

.content small{
    font-size: 20px;
}

.content a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin: 0 10px;
}

.content p{
    text-align: right;
    margin-top: 10px;
}

.navbar .fa{
    display: none;
}

@media(max-width: 700px){
    .side-bar{
        display: none;
    }
    .cakes{
        margin: 80px 40px;
    }
    .cakes h1{
        font-size: 30px;
    }
    .cakes span{
        font-size: 30px;
    }
    .notification{
        width: 50%;
        left: 0;
        bottom: 0;
    }
    .navbar{
        padding: 1rem 6rem;
    }
    .fa-th-list{
        position: absolute;
        right: 20px;
        top: 10px;
    }
    .navbar .fa{
        display: block;
        color: #fff;
        margin: 10px 20px;
        font-size: 22px;
        cursor: pointer;
    }
    .links{
        height: 100vh;
        width: 300px;
        background: #000;
        top: 0;
        right: -145px;
        position: absolute;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }
    .links ul a{
        display: block;
    }
    .links .fa{
        font-size: 20px;
        display: flex;
        position: relative;
        top: 10px;
    }
    .links .btn{
        float: none;
        margin-left: 25px;
        margin-top: 10px;
    }
}